@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Conheça Nossos projetos</h1>
    <p>Fundada ha 26 anos, a Recode esta presente em 9 paises com mais de 1.000 centros de empoderamento digital
       e ja atingiu mais de 1.8 milhão de pessoas. Atuamos em parceria com centros comunitarios, escolas publicas e bibliotecas, 
       que oferecem nossa metodologia para desenvolver nos jovens habilidades digitais e competencias socioemocionais,
       estimulando o protagonismo e o potencial da nova geração com agentes de transformação social.
    </p>
</div>
