# Ignorar arquivos de configuração de ambiente
appsettings.json
appsettings.Development.json

# Ignorar pastas e arquivos de build
bin/
obj/

# Ignorar arquivos de configuração do Visual Studio
.vs/
*.suo
*.user
*.userprefs

# Ignorar arquivos de logs
*.log

# Ignorar pacotes NuGet
*.nupkg
**/packages/*
